.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#hero-text {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hero-buttons {
  display: flex;
  gap: 10vw;
}

.fa-chevron-up {
  font-size: x-large;
  margin-bottom: 10px;
  margin-top: 200px;
  cursor: pointer;
}

#hi {
  height: 500px;
  background-color: rgb(39, 39, 39);
}

.hello {
  margin-top: 20px;
}
