body {
  margin: 60px 0;
}

.reservationForm {
  padding: 0 20px;
}

.reservation-title {
  padding: 20px 20px 10px 20px;
}

.changeFontColour {
  color: black;
}

.no-padding {
  padding: 16px 0 !important;
}

.reservation-garden {
  margin-bottom: 40px;
}

.inputs {
  padding: 0 20px 30px 20px;
}

label {
  margin: 0 !important;
}

.form-control {
  margin-bottom: 20px;
}

h3 {
  padding: 0 20px;
}

.button {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 20px;
}
