body {
  margin-top: 65px;

  font-family: Ubuntu;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.main-content {
  padding: 0 20px;
}

.heading {
  font-size: 25px;

  margin-bottom: 10px;
}

input {
  margin-bottom: 30px;
}

#description {
  width: 100vw;
  min-height: 300px;
  height: fit-content;
  resize: none;

  font-family: Roboto;
  color: white;

  padding: 20px 30px;

  background-color: rgb(12, 12, 12);
  border: none;
  border-radius: 0;
}

#description:focus {
  outline: none;
}

#photo {
  border: none;
}

.submit {
  width: 100%;

  padding: 0 10vw;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

select {
  margin-bottom: 30px;
  font-size: 20px;
}
