/* CSS for body in plantepediaAllPlants.ejs
   I found this code on Freefrontend.com
   @author Mary Czapkowska
   see https://codepen.io/maryj25/pen/axBNVO
*/
body {
  padding-top: 65px;
  padding-bottom: 60px;
  /* CSS for body in plantInfo.ejs */
  box-sizing: border-box;
}

.badges {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
}

.badge {
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

/*
CSS for card in plantInfo.ejs 
I found this code on Freefrontend.com 
@author Russ Beye
see https://codepen.io/russbeye/pen/MYeroq
*/
.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  width: 100%;
  background-color: rgb(27, 27, 27);
}

.card-img-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.blog-body {
  padding: 20px 0 50px 0;
  margin: 0 20px;

  margin-bottom: 20px;
  border-bottom: 1px solid white;

  background-color: rgb(27, 27, 27);
  border-bottom: solid 1px rgb(51, 51, 51);
}

.blog-summary,
.h1Font {
  color: rgb(216, 216, 216) !important;
}

.blog-summary {
  font-family: Roboto;
}

.h1Font {
  font-family: Ubuntu;
}

/* This class applies in both plantInfo.ejs and plantepediaAllPlants.ejs*/
.h1Font {
  color: #333;
  font-weight: 100;
}

.blog-summary {
  color: #333;
}

.card-body {
  background-color: rgb(27, 27, 27);
  color: rgb(216, 216, 216);
  padding: 20px 0 50px 0;
  margin: 0 20px;
  border-bottom: solid 1px rgb(51, 51, 51);
}

.card {
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(27, 27, 27);
}

.mb-4 {
  margin-bottom: 50px !important;
  padding: 0;
}

.card-text {
  margin-bottom: 25px;
}
