body {
  padding: 60px 0;
}

#gardens {
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.garden-button {
  width: 100px;
}

.gardenGroup {
  background-size: 300px;
  position: relative;
  width: 47%;
  height: 40px;
  object-position: center;

  border-radius: 0.5em;
}

.garden-inner {
  height: 100%;
  width: 80%;

  font-size: 12px;

  padding: 10px;

  display: flex;
  align-items: center;

  background: linear-gradient(90deg, #000000de 50%, rgba(0, 0, 0, 0));

  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 2em;
  padding-left: 20px;

  float: none;

  color: white;
}

.choose-garden {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  width: 100%;

  padding: 0;
  margin: 0;
}

.username-container {
  height: 50px;

  padding: 0 20px;

  display: flex;
  align-items: center;
}

.username {
  font-family: Ubuntu;
}

.post-img {
  width: 100%;
}

.post-actions {
  height: 40px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.description {
  width: 100%;

  font-family: Roboto;
  padding: 0 20px 15px 20px;

  border-bottom: 1px solid rgba(83, 83, 83, 0.315);

  word-break: break-all;
}

.comments {
  margin-top: 10px;
}

small {
  color: rgba(187, 187, 187, 0.685);
}

.likes {
  margin-bottom: 6px;
}

.date {
  margin-top: 10px;
  font-size: 14px;
}

button {
  background: none;
}

.modal-content {
  width: 100% !important;
  height: 100%;
  bottom: 0;
  background-color: rgb(27, 27, 27);
}

.modal-dialog {
  width: 100%;
  height: 60% !important;

  margin: 0;

  position: absolute;
  bottom: 55px;
}

.modal-header {
  height: 50px;

  font-family: Ubuntu;
  display: flex;
  justify-content: center;

  border-color: rgb(83, 83, 83);
}

.modal-body {
  overflow-y: scroll;
  padding: 20px;
}

.modal-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-username {
  font-family: Ubuntu;
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: 1px;
}

.comment {
  font-family: Roboto;
  letter-spacing: 1px;
}

.modal-footer {
  height: 50px !important;
  padding: 0 20px;

  border-color: rgb(83, 83, 83);
}

.btn {
  height: 25% !important;
  padding: 2px 8px 7px 8px;
  font-size: 12px;
}
