<%- include("../templates/header") %>
</head>

<body>
  <!-- NAVBAR TOP -->
  <div id="top-navbar-placeholder"></div>

  <footer></footer>

  <!-- NAVBAR BOTTOM -->
  <div id="bottom-navbar-placeholder"></div>
  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/pages/universal.js"></script>
  <%- include("../templates/footer") %>