<nav id="bottom-navbar">
  <!-- HOME -->
  <a class="material-icons-round nav-button" href="/">home</a>
  <!-- EXPLORE -->
  <a class="material-icons-round nav-button" href="/explore">explore</a>
  <!-- ADD POST -->
  <a class="material-icons-round nav-button" href="/newPost" style="font-size: 30px;">add_circle_outline</a>
  <!-- COMMUNITY -->
  <a class="material-icons-round nav-button" href="/community">filter_vintage</a>
  <!-- HAMBURGER MENU -->
  <span id="hamburger-button" class="material-icons-round nav-button">menu</span>
</nav>