<!-- TODO ADD HREF TO EACH BUTTON-->
<!-- TODO ADD HREF TO EACH BUTTON-->
<!-- TODO ADD HREF TO EACH BUTTON-->
<nav id="bottom-navbar">
  <!-- HOME -->
  <a class="material-icons-round nav-button" href="/home">home</a>
  <!-- TODO ADD HREF TO EACH BUTTON-->
  <!-- #### -->
  <a class="material-icons-round nav-button" href="#">explore</a>
  <!-- TODO ADD HREF TO EACH BUTTON -->
  <!-- ####-->
  <a class="material-icons-round nav-button" href="#">filter_vintage</a>
  <!-- USER -->
  <a class="material-icons-round nav-button" href="#">menu</a>
</nav>