<div id="hamburger">
  <div id="hamburger-links">
    <a class="hamburger-link" href="/profile">Profile</a>
    <a class="hamburger-link" href="/plantepedia">Plantepedia</a>
    <a class="hamburger-link" href="/settings">Settings</a>
  </div>
  <a id="sign-out" class="hamburger-link" href="/logout">Sign Out</a>
  <span id="hamburger-close" class="material-icons-round">
    close
  </span>
</div>