<%- include("../templates/header") %>
<link rel="stylesheet" href="404/404.css">
</head>

<body>
    <div id="sorry">Sorry, this page doesn't exist.</div>
    <div id="click">Click on the image to go to the home page!</div>
    <a href="/">
        <img src="img/404.png" href="/">
    </a>
        
    
    <%- include("../templates/footer") %>