<%- include("../templates/header") %>
<link rel="stylesheet" href="/landing/landing.css" />
</head>

<body>

  <!-- NAVBAR TOP -->
  <div id="top-navbar-placeholder"></div>

  <!-- HERO ELEMENTS -->
  <div class="hero-container">
    <div id="hero">
      <h1 id="wefarm">WeFarm</h1>
      <span id="hero-description">Cultivating a healthy future by allowing members of the community grow their own produce. Join the community in farming your own crops!</span>
    </div>
    <div id="buttons">
      <a class="btn btn-primary" href="/signup">Sign-Up</a>
      <span>or</span>
      <a class="btn btn-dark" href="/login">Login</a>
    </div>
    <span id="chevron" class="material-symbols-rounded">expand_less</span>
  </div>

  <!-- SECTIONS -->

  <!-- FIRST SECTION -->
  <div id="first-use-case" class="use-case">
    <div class="use-case-header">JOIN THE COMMUNITY</div>
    <div class="use-case-description">Share the progress of your crops and view what others are up to!</div>
    <img class="use-case-photo" src="/img/Screenshot_1.png" />
  </div>

  <!-- SECOND SECTION -->
  <div class="use-case">
    <div class="use-case-header">RESERVE YOUR PLOT</div>
    <div class="use-case-description">Just find a nearby garden, choose the plot you'd like and get to farming!</div>
    <img class="use-case-photo" src="/img/Screenshot_1.png" />
  </div>

  <!-- THIRD SECTION -->
  <div class="use-case">
    <div class="use-case-header">FIND THE INFO YOU NEED</div>
    <div class="use-case-description">
      With our built in Plantepedia you can find all the information needed to grow your essential crops!
    </div>
    <img class="use-case-photo" src="/img/Screenshot_1.png" />
  </div>

  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/views/universal.js"></script>
  <script type="module" src="/landing/landing.js"></script>

  <%- include("../templates/footer") %>