body {
  margin-top: 80px;
}

.ubuntu {
  font-family: Ubuntu;
}

.welcome {
  margin: 0 20px;

  word-wrap: break-word;
}

.welcome-message {
  margin-bottom: 50px;
}

.icon {
  width: fit-content;
  height: fit-content;
  font-size: 40px;
}

.home-link {
  width: 45%;
  height: fit-content;

  color: rgb(185, 185, 185);

  padding: 10px 15px;
  margin-bottom: 35px;

  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    rgba(91, 240, 71, 0.281),
    rgb(22, 34, 23)
  );
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);

  cursor: pointer;
}

.tag {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0 5px;
  letter-spacing: 1px;
}

#plantepedia-tag {
  margin-left: 3px;
}

.garden-inner {
  height: 100%;
  width: 80%;

  font-size: 12px;

  padding: 10px;

  display: flex;
  align-items: center;

  background: linear-gradient(90deg, #000000de 50%, rgba(0, 0, 0, 0));

  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.gardenGroup {
  width: 45%;
  height: 40px;
  margin-top: 20px;
  background-size: 300px;
  position: relative;

  object-position: center;

  border-radius: 0.5em;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
}

.section-header {
  margin-bottom: 20px;
}

.section {
  display: flex;

  margin-bottom: 45px;

  flex-wrap: wrap;
  gap: 10%;
}
