@font-face {
  font-family: DaysOne;
  src: url("/assets/font/Days_One/DaysOne-Regular.ttf");
}

.hero-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

/* All contents of the hero */
#hero {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Text below the header in hero */
#hero-description {
  font-family: DaysOne;
}

#buttons {
  display: flex;
  gap: 10vw;
}

.fa-chevron-up {
  font-size: x-large;
  margin-bottom: 10px;
  margin-top: 200px;
  cursor: pointer;
}

/* Each section on the page */
.use-case {
  display: inline-block;
  height: fit-content;
  width: 100%;
}

.use-case-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  font-size: 45px;
  padding-left: 40px;
  padding-right: 10px;
}

.use-case-description {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 10px;
  font-family: DaysOne;
  color: rgb(224, 224, 224);
}

.use-case-photo {
  width: 100%;
  margin: 100px 0;
}
