<!-- TODO ADD HREF TO EACH BUTTON-->
<!-- TODO ADD HREF TO EACH BUTTON-->
<!-- TODO ADD HREF TO EACH BUTTON-->
<nav id="bottom-navbar">
  <!-- HOME -->
  <a class="material-icons-round nav-button" href="#">home</a>
  <!-- TODO ADD HREF TO EACH BUTTON-->
  <!-- #### -->
  <a class="material-icons-round nav-button" href="#">account_circle</a>
  <!-- TODO ADD HREF TO EACH BUTTON-->
  <!-- ####-->
  <a class="material-icons-round nav-button" href="#"></a>
  <!-- USER -->
  <a class="material-icons-round nav-button" href="#">profile</a>
</nav>
